.appbar {
    position: static;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 2em;
}

.primary_button_group {
    flex-grow: 1;
    align-items: center;
    gap: 2em;
}

.menu_btn {
    display: none;
}

@media (max-width: 600px) {
    .primary_button_group {
        display: none;
    }

    .secondary_button_group {
        display: none;
    }

    .menu_btn {
        display: block;
    }

}
