.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6rem;
    min-height: 70vh;
    text-align: center;
}

.button_group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}