.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 6rem;
}

.controls {
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {
    .main {
        padding: 2rem;
    }
}
